.vs/
packages/
Platforms/macOS/bin/
Platforms/macOS/obj/
Platforms/GTK/bin/
Platforms/GTK/obj/
Platforms/GTK/AppStore/
Platforms/iOS/bin/
Platforms/iOS/obj/
Platforms/Android/obj/
Platforms/Android/bin/
Platforms/WPF/obj/
Platforms/WPF/bin/
Platforms/WPF/AppStore/
Platforms/UWP/obj/
Platforms/UWP/bin/
Platforms/UWP/BackgroundNotificationTask/obj/
Platforms/UWP/BackgroundNotificationTask/bin/
cli/bin/
cli/obj/
*.csproj.user
debugendpoint.txt
Releases/
*.pfx
Platforms/UWP/AppPackages
Platforms/UWP/BundleArtifacts
_pkginfo.txt